
  <h1><%= link_to album.title, album_path(album) %></h1>

  <%= image_tag album.cover.url %>

  <h2>Artist: <%= album.artist_name if album.artist!=nil%></h2>


  <% if album.songs.empty? %>
    <h3><%= link_to "Get this album's tracks", import_songs_path(album)%><h3>
  <% else %>
    <h3>Songs: </h3>
    <% album.songs.each_with_index do |s, i| %>
      <ul>
        <h3><%= "#{i+1}."%> <%=link_to s.title, song_path(s)%></h3>
      </ul>
    <% end %>
  <% end %>
  
  <%= content_tag :div, class: "spin-it", "data-albid": "#{album.id}" do -%>
    <%= spin_options(album) %>
  <% end -%>
    
  <%= button_to "Edit album", edit_album_path(album), method: :get %> 
  <%= button_to "Fuckit, I don't want this one anymore", remove_album_path(current_user, album) %>
  <br></br>