
<%= form_for album do |f| %>
  
  <%= f.label :title %>:  <%= f.text_field :title %><br>
  <%= f.label :artist %>: <%= f.collection_select :artist_id, Artist.order(:name), :id, :name, include_blank: true %><br>

  <% if !album.songs.empty? %>
    <% if album.id %>
      <div class="existing-songs">
        <h5>Current songs: </h5>
        <%= f.collection_check_boxes :song_ids, album.songs, :id, :title %>
      </div> 
    <% end %>
  <% else %>
    <div class="song-import">
        <%= link_to "Get songs!", import_songs_path %>
    </div>
    <div class="existing-songs">
      <%= f.collection_check_boxes :songs, Song.order(:artist_id), :id, :title %>
    </div>
  <% end %>

  <%= f.fields_for :songs_attributes do |s| %>
    <h5>Wanna add some other songs?</h5>
    <%= s.collection_check_boxes :song_ids, Song.order(:artist_id), :id, :title %>
  <% end %>



  <%= f.submit %>
  <%= button_to "Cancel", :back %>

<% end %>

