<%= form_for :album do |f| %>
  
  <%= f.label :title %> <%= f.text_field :title %><br>

  <%= f.label :artist %> <%= f.collection_select :artist, Artist.order(:name), :id, :name %><br>
    
    <%= f.fields_for Artist.new  do |a| %>
      <li>Can't find it? Enter it here: <%= a.text_field :name %></li><br>
    <% end %>
  
  <% if !@album.songs.empty? %>
    <%= f.label :songs %><br>
    <%= f.collection_check_boxes :songs, Song.all, :id, :name %><br>
  <% else %>
    <h3><%= link_to "Import this album's songs", song_importer_path(@album) %><h3>
    
    <%= f.fields_for Song.new do |s| %>
      <h5><%= s.label "Or be sloppy and enter tracks yourself" %></h5>
          <%= s.text_area :title, :autocomplete=>:off %><br>
    <% end %>
  
  <% end %>

  <%= f.submit %>

<% end %>

<%= button_to "Fuckit, I don't want this one", user_album_path(current_user, @album), method: :delete %>

