<%= form_for @album do |f| %>
  
  <%= f.label :title %> <%= f.text_field :title %><br>

  <%= f.label :artist_id %> <%= f.collection_select :artist_id, Artist.order(:name), :id, :name %><br>
    
    <%= f.fields_for :artist_attributes do |a| %>
      <li>Can't find it? Enter it here: <%= a.text_field :name %></li><br>
    <% end %>
  
  <% if !@album.songs.empty? %>
    <%= f.fields_for :songs_attributes do |s| %>
      <h5>Current songs: </h5>
          <%= s.collection_check_boxes :song_ids, Song.all, :id, :title %><br>

      <h5><%= s.label "Or be sloppy and enter tracks yourself" %></h5>
          <%= s.text_area :title, :autocomplete=>:off %><br>
    <% end %>
  <% else %>
    <h3><%= link_to "Import this album's songs", song_importer_path(@album) %><h3>
  <% end %>

  

  <%= f.submit %>

<% end %>

<%= button_to "Fuckit, I don't want this one", user_album_path(current_user, @album), method: :delete %>

