<h1>ALL TEH RECORDS!</h1>

<% if @albums.empty? %>
  <h2><%= link_to "Find some records!", collection_path(current_user)%></h2>
  <h4>(This would be a great place to pull in Discogs' data dumps and populate the database, though it's better to just figure out the API)</h4>
<% else %>

  <table class="albums-index">
    <tr align="left">
      <th><h2> Title<h2></th>
      <th><h4> Artist<h4></th>
      <th><h4> Release date<h4></th>
      <th><h4> In collection?</h4></th>
      <th><h4> Discogs.com </h4></th>
    </tr>
    <% @albums.each do |a| %>
    <tr align="left">
      <td><%= link_to a.title, album_path(a)%></td>
      <td><%= display_album_artist(a) %>
      <td><%= update_album_button(a) %></td>
      <td><%= user_has(a) %></td>
      <td><%= see_or_find_on_discogs(a) %></td>
    </tr>
    <% end %>
  </table>

  <%= render "rankings"%>

 
<% end %>

<br></br>


