<h1><%=@album.title%></h1>

<h2>Artist: <%= @album.artist.name if @album.artist!=nil%></h2>


<% if @album.songs.empty? %>
  <h3><%= link_to "Get this album's tracks", import_songs_path(@album)%><h3>
<% else %>
  <h3>Songs: </h3>
  <% @album.songs.each_with_index do |s, i| %>
    <ul>
      <h3><%= "#{i+1}."%> <%=link_to s.title, song_path(s)%></h3>
    </ul>
  <% end %>
<% end %>


<% if current_user.spins(@album) == 0 %>
  <%= button_to "Spin it!", spin_path(@album) %>
<% else %>
  <table layout="fixed" width=50%>
    <tr align="left">
      <th><h4>spin count</h4></th>
      <th>Last Spun: </th>
      <%= button_to "Spin it again!", spin_path(@album) %>
    </tr>
    <tr>
      <td><%= current_user.spins(@album) %></td>
      <td><%= @album.last_spun.strftime("%A, %B %C")%></td>
    </tr>
  </table>
<% end %>

  
  <br></br>
  
  <%= button_to "Edit album", edit_album_path(@album), method: :get %> 
  <%= button_to "Fucki, I don't want this one anymore", user_album_path(current_user, @album), method: :delete %>
<br></br>



 



