<h3>Check out some of these records:</h3>


<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Fans</th>
    <th>Last Spun</th>
    <th>OOOH! GIMME THIS</th>
  </tr>
  <% @albums.each do |a| %>
  <tr>
    <td><%= link_to a.title, album_path(a)%></td>
    <td><%= link_to a.artist_name, artist_path(a.artist)%></td>
    <td><%= a.fans.count %></td>
    <td><%= a.last_spun %></td  >
    <td><%= button_to "Add", add_album_path(a)%></td>  
  </tr>
  <% end %>
</table>