<!DOCTYPE html>
<html>
  <head>
    <title>Spinner</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
  <div class= "container">  <!--  navbar -->
    <%= render "layouts/navigation" %> 

      <div class="messages">
         <%= render 'layouts/messages' %>
      </div>
      <!-- content -->
      <%= yield %>
      <%= javascript_include_tag "application" %>  
    </div>
  </body>
</html>