<!DOCTYPE html>
<html>
  <head>
    <title>Spinner</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= analytics_init if Rails.env.production? %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class= "container">  <!--  navbar -->
      <%= render "layouts/navigation" %> 

        <div class="messages">
           <%= render 'layouts/messages' %>
        </div>
      <%= link_to "discogs", authorize_discogs_path %>
        <!-- content -->
      <div class="page-content">
        <%= yield %>
      </div>
    </div> 
  </body>
</html>